.App {
  background: url('./images/isometric_soccer.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.App .container {
  max-width: none;
}

.custom-container {
  width: 50%;
  padding: 20px;
}

.custom-table,
.custom-table td {
  border: none;
}

.custom-box {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-text,
.custom-box,
span,
h1 {
  color: rgb(196, 238, 46);
  text-shadow: 5px 5px 5px black
}

h1 {
  color: #198754;
}

Button {
  margin: 0 10px 10px 0;
}

ul {
  display: flex;

  gap: 50px;
}

li {
  list-style: none;
}

span {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;

}

span:hover {
  transform: scale(1.8) rotate(-2deg);
  color: red;
}